<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Dsda.DataAccess.Properties.Settings.DsdaIntegrationConnectionString"
      connectionString="Data Source=(local)\SQLDEV2017;Initial Catalog=DsdaIntegration;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
